SET NOCOUNT ON;
GO

CREATE DATABASE [Esercizi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Esercizi', FILENAME = N'C:\__Databases\Esercizi.mdf' , SIZE = 4096KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Esercizi_log', FILENAME = N'C:\__Databases\Esercizi_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [Esercizi]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [Esercizi] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
