SET NOCOUNT ON;
GO

CREATE DATABASE AlexDb
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AlexDb', FILENAME = N'C:\__Databases\AlexDb.mdf' , SIZE = 4096KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AlexDb_log', FILENAME = N'C:\__Databases\AlexDbEsercizi_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE AlexDb
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE AlexDb MODIFY FILEGROUP [PRIMARY] DEFAULT
GO

CREATE DATABASE MikeDb
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MikeDb', FILENAME = N'C:\__Databases\MikeDb.mdf' , SIZE = 4096KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MikeDb_log', FILENAME = N'C:\__Databases\MikeDb_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE MikeDb
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE MikeDb MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
